@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Keyboard&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

:root {
    --new-applications-coint: "0";
}

body {
    padding: 0 48px;
}

.navbar {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 22px;
}

.nav-controller-menu {
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dashboard-name {
    font-family: 'Courier New', Courier, monospace;
    color: green;
    padding: 2px 6px;
    border: 1px solid green;
    border-radius: 4px;
    background-color: lightgreen;
    margin-right: 12px;
}

.admin-name {
    font-family: monospace;
    font-size: 1rem;
    margin-right: 12px;
}

#logout-btn {
    font-family: 'Courier New', Courier, monospace;
    color: red;
    border-radius: 4px;
    border: 1px solid red;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px;
    gap: 2px;
    font-size: 1rem;
    transition: color, background-color 400ms ease-in-out;
    cursor: pointer;
    margin-left: 12px;
}

.logout-btn-icon {
    font-size: .8rem !important;
}

#logout-btn:hover {
    color: white;
    background-color: red;
}

.clock {
    font-family: 'Courier New', Courier, monospace;
}

#utility-header {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    display: flex;
    gap: 14px;
    padding: 14px 0;
    overflow-x: auto;
}

#utility-header::-webkit-scrollbar{
    display: none;
}

.jhantu-container.active-drag {
    cursor: grabbing; /* Shows a 'grabbing' hand while dragging */
}

.utility-option {
    padding: 12px 12px 12px 16px;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    font-size: 1rem;
    transition: background-color, color 400ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    gap: 8px;
}

.utility-option:hover {
    background-color: black;
    color: white;

}
.utility-option:focus {
    background-color: black;
    color: white;
}

.has-notification::after {
    content: var(--new-applications-coint);
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: .6rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
    height: 16px;
    width: 16px;
    background-color: red;
    border-radius: 50px;
    border: 2px solid white;
}

#status-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.section-sub {
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
    padding: 12px 18px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.role-title {
    font-weight: 700;
    margin-right: auto;
}

.count-group {
    margin-left: 12px;
    margin-right: 12px;
}

.total-count {
    font-size: .8rem;
}

.more-teacher-details, .more-student-details {
    cursor: pointer;
    user-select: none;
}