@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Keyboard&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

.loader {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#000 calc(50% - 10px), #0000 0 calc(50% + 10px), #000 0);
    background:
        var(--c) 0% 100%,
        var(--c) 50% 100%,
        var(--c) 100% 100%;
    background-size: 20% calc(200% + 20px);
    animation: l4 1s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.loader-body {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(37, 37, 37, 0.507);
    z-index: 1;
    backdrop-filter: blur(18px);
    display: none;
}

@keyframes l4 {
    33% {
        background-position: 0% 50%, 50% 100%, 100% 100%
    }

    50% {
        background-position: 0% 0%, 50% 50%, 100% 100%
    }

    66% {
        background-position: 0% 0%, 50% 0%, 100% 50%
    }

    100% {
        background-position: 0% 0%, 50% 0%, 100% 0%
    }
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.main-container>form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.jj {
    border: 1px solid grey;
    padding: 12px;
    width: 100%;
}

.msg-1 {
    font-size: 1.4rem;
    font-weight: 700;
    align-self: flex-start;
}

#cBody {
    resize: none;
    border: 1px solid grey;
    padding: 12px;
}

#cBody:focus {
    border: 1px solid black;
}

#sBtn {
    border: 1px solid green !important;
    background-color: lightgreen;
    color: green;
}